$primary-color: #4793ff;
$lite-color: #000;
$base-color: #939cb0;
$lite-background: #ffffff;
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$icon-box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
$border-radius: 20px;
